*{
                margin: 0;
                padding: 0;
            }
           
            #cart-toggle-btn
            {
                position: fixed;
                top: 10px;
                right: 20px;
                z-index: 1001;
                font-size: 26px;
                background-color: #218838;
                color: white;
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
                border: none;

            }
            body{
                display: flex;
                padding: 20px;
                 background-color: #f8f8f8;
                 
            }
            .left{
                width: 60%;
               
                top: 0;
            }
            .s1
            {
                font-size: 22px;
                font-weight: 600;
            }
            .products
            {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 10px;
            }
            .product
            {
                width: 250px;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                padding: 15px;
                border-radius: 10px;
                margin-top: 10px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                transition: all 0.3s ease;
                cursor: pointer;
            }
            .product:hover
            {
                background-color: rgb(135, 241, 135);
            }
            .img1
            {
                width: 100px;
            }
            
            .p1
            {
                font-size: 18px;
                font-weight: 600;
            }
            .p2
            {
                font-size: 18px;
                font-weight: 600;
            }
            .add
            {
                background-color: green;
                border: 0;
                color: white;
                padding: 8px;
                border-radius: 5px;
                font-weight: 600;
                cursor: pointer;
            }
            .cart
            {
                width: 30%;
                text-align: center;
                background-color: green;
                position: fixed;
                right: 20px;
                top: 20px;
                bottom: 20px;
                border-radius: 10px;
                padding: 20px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            .s2
            {
                font-size: 20px;
                font-weight: 600;
            } 
            .total
            {
                background-color: black;
                color: white;
                text-align: end;
                padding: 10px;
                margin: 0px 10px;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 600;
                margin-top: 10px;
            }
            .cart-p
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                padding: 0px 10px;
                border-radius: 5px;
                margin-top: 15px;
            }
            .cart-p>:nth-child(1)
            {
                width: 50px;
            }
            .cart-p>:nth-child(2)
            {
                font-weight: 600;
                font-size: 15px;
            }
            .cart-p>:nth-child(3)
            {
                width: 50px;
            }
            .cart-p>:nth-child(4)
            {
                padding: 6px 20px;
                background-color: red;
                border: 0;
                border-radius: 5px;
                font-weight: 600;
            }
            #search
            {
                width: 95%;
                padding: 10px;
                margin: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
            @media (max-width:1024px) {
                body{
                    flex-direction: column;
                }

                .left{
                width: 100%;
               
                
            }
            .products
            {
                display: grid;
                grid-template-columns: auto auto auto auto;
                gap: 10px;
            }
             .product
            {
                width: 160px;
                
        
            }
            .img{
                width: 100px;
            }
            .p1
            {
                font-size: 15px;
            
            }
           .cart{
            width: 100%;
            padding: 0px;
            position: fixed;
            right: 0;
            left: 0;
            top: 70px;
            bottom: 0;
            padding-top: 20px;
            border-radius: 15px 15px 0px 0px;
            transform: translateY(100%);
            
           }
           .cart.open
           {
            transform: translateY(0);
           }
            .cart-p>:nth-child(1)
            {
                width: 70px;
            }
            .cart-p>:nth-child(2)
            {
    
                font-size: 17px;
            }
            
            .cart-p>:nth-child(4)
            {
               margin-right: 20px;
            }
            }